{% extends 'base.html' %}

{% block title %}Edit{% endblock %}

{% block content %}
  <form method="post">
    <label for="content">Keyword</label>
    <input name="content" id="content"
      value="{{ request.form['content'] or keyword['content'] }}" required>
    <label for="target_site">Target site</label>
    <input name="target_site" id="target_site" value="{{ request.form['target_site'] or keyword['target_site'] }}" required>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('active_toggle', id=keyword['id']) }}" method="post">
    <input class="warning" type="submit" value="{% if keyword['is_active'] %} Deactivate {% else %} Activate {% endif %}" onclick="return confirm('Are you sure?');">
  </form>
  <form action="{{ url_for('delete', id=keyword['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
